.container {
    background-color: #D5ECEC;
    margin-top: 80px;
    width: 750px;
    height: 200px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
}

#navbar {    
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #616467;
    color: #bbb;   
}

.navbar-brand {   
    font-size: 1.6em;
    padding-right: 30px;
    margin-bottom: 2px;
}


.nav-link, .nav-link:hover, #logout:hover {
    cursor: pointer;     
}

#main-content {
    margin-top: 150px;
}

nav > li,a:hover {
    color: #DDDDAC;
}

li >  a {
    margin-left: 15px;
    font-size: 1.2em;
}

#dropdown-patient {    
    margin-top: 2.3px;
    width: 125px;
}

#dropdown-patient:hover {
    color: #DDDDAC;
}

#dropdown-lab {
    margin-top: 2.3px;
    width: 170px;
    margin-left: 0;
}

#dropdown-lab:hover {
    color: #DDDDAC;
}

a {
    font-weight: 1.3em;
    color: lightgray;
}

.nav-link {
    font-size: 1.2em;
    font-weight: bold;
}

.active {
    color: #2222B1;
    background-color: transparent;
}

#logout {
    margin-bottom: 2.5px;
    float: right;
     
}
