<!-- Navbar -->
<nav id="navbar" class="navbar navbar-expand-md fixed-top">
  <a class="navbar-brand"><i class="fa fa-heartbeat" aria-hidden="true"></i>Wipro HMS</a>
  <a class="nav2" routerLink="/scheduler"><i class="fa fa-calendar" aria-hidden="true"style = "display:inline"></i>Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" dropdown style="display:inline">
        <a id="dropdown-patient" dropdownToggle class="nav-link"><i class="fa fa-user-md" aria-hidden="true"></i>
              Patient<span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                </a>
        <ul id="dropdown-menu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a routerLink="/addpatient" routerLinkActive="active" id="dropdown-item" class="dropdown-item"><i class="fa fa-plus" aria-hidden="true"></i>Add Patient</a></li>
          <li role="menuitem"><a routerLink="/editpatient" routerLinkActive="active" id="dropdown-item" class="dropdown-item"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Patient</a></li>
          <li role="menuitem"><a routerLink="/search" routerLinkActive="active" id="dropdown-item" class="dropdown-item"><i class="fa fa-search" aria-hidden="true"></i>Search Patient</a></li>
        </ul>
      </li>

      <li class="nav-item" dropdown style="display:inline">
        <a id="dropdown-lab" dropdownToggle class="nav-link"><i class="fa fa-flask" aria-hidden="true"></i>
            Lab Results<span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              </a>
        <ul id="dropdown-lab-menu" *dropdownMenu class="dropdown-menu" role="menu">
          <li role="menuitem"><a routerLink="/addlabresults" routerLinkActive="active" id="dropdown-item" class="dropdown-item"><i class="fa fa-plus" aria-hidden="true"></i>Add Results</a></li>
          <li role="menuitem"><a routerLink="/editlabresults" routerLinkActive="active" id="dropdown-item" class="dropdown-item"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Results</a></li>
        </ul>
      </li>
      <a tooltip="Logout" placement="bottom" id="logout" class="nav-link" routerLink="/"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>

    </ul>
  </div>
</nav>
<!-- Navbar -->