<nav id="navbar" class="navbar navbar-expand-sm navbar-custom">
    <a href="/home" class="navbar-brand" tooltip="Home" placement="bottom"><i class="fa fa-heartbeat" aria-hidden="true"></i>Wipro HMS</a>
   
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/addpatient" routerLinkActive="active">Add New Patient</a>
            </li>            
        </ul>
        <span routerLink="/" id="logout" class="ml-auto navbar-text" tooltip="Logout" placement="bottom"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i></span>
    </div>
</nav>