<!-- Navbar -->
<app-doctorheader></app-doctorheader>

<!-- Main Content -->
<!-- Navbar -->

  
  <!-- Main Content -->
  
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-addPatient">    
          <div class="col-lg-12 row" id="content">  
              <div class="form col-lg-6 text-center">
      
                 
      
                
      
                  <!-- Medical History -->
                  <br><h5>Medical History</h5>
                  <p>Have patient had any of the following deseases or problems:</p>           
                      <div class="form-group">
                              <div class="input-group">
                                  <span class="input-group-addon">Condition</span>                          
                                  <div>
                                      <div *ngFor="let condition of conditions; let i = index">
                                          <label id="condition">
                                              <input
                                                  type="checkbox"
                                                  name="isCondition{{i}}"                                                                                 
                                                  [ngModel] = "isCondition"> 
                                                  {{ condition }}                                       
                                          </label>
                                      </div>
                                  </div>
                              </div>                   
                          </div><hr><!-- Medical History -->
                      
                      <!-- Additioonal Information -->
                      <br><h5>Additional Information</h5>
                      <div class="form-group">
                              <div class="input-group">
                      <span class="input-group-addon">Notes</span>            
                              <textarea name="notes" id="notes" cols="90" rows="10" ngModel></textarea>
                          </div>
                      </div>  <!-- Additioonal Information -->               
      
                      <button id="submit" 
                      class="btn btn-lg btn-success btn-block" 
                      [disabled]="!f.valid"
                      type="submit"         
                      >Submit</button>    
      
              </div>      
                    
          </div>
      </form>
  

<!-- Main Content -->

  <!-- Footer -->

  <app-scrollablefooter></app-scrollablefooter>
  
  
    <!-- Footer -->