#footer {
    background-color: #46494C;
    position: absolute;
    color: black;
    bottom: 0;
    width: 100%;   
  }  
  
  footer a {
    color: #999;
    text-decoration:none;
    cursor: pointer;    
  }
  
  footer a:hover, footer a:focus {   
    color: #E1E1E1;
    text-decoration:none;
    
  }  
  /* social-media links */
  #linkedin:hover {      
    color: #007bb5;
  }

  #twitter:hover {
    color: #00aced;
  }

  #facebook:hover {
    color: #3b5998;
  }
  /* social-media links */

  .row, .row > span {
      margin-right: 10px;
  }

  i {
      padding-right: 5px;
  }

  #brand {
    color: lightgray;
    margin-bottom: 0;
}

.tooltip.customClass .tooltip-arrow {
  color: red;
}

.tooltip-arrow,
.red-tooltip + .tooltip > .tooltip-inner {background-color: #f00;}