/* Search Bar */
#search {
    text-align: center;
    width: 250px;
    height: 38px;
    border-radius: 23px;
    border: 1px solid #ccc;
}

#searchButton {
    border-radius: 50%;
}

input:focus {    
    outline: 0;
}
/* Search Bar */

#main-content {
    
    margin-top: 150px;
}


/* Main Content */
#content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
   
    padding-bottom: 50px;    
}

#table-content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 1800px;
    padding-bottom: 50px;    
}

/* Forms */
.form {      
    margin-left: 380px;    
    padding: 10px;   
    background-color: #D5ECEC;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 30px;      
    margin-bottom: 10px;
}

.input-group > span {
    width:115px;
    border: 2px;
}

#state {
    width:220px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

#dropdown {
    position: relative;
    margin-top: 100px;
}

#radio-button {
    margin-left: 30px;
    margin-top: 7px;
}

button {
    border-radius: 20px;
}

button > i {
    margin-left: 5px;
}

#gender {   
    width: 100px;   
}

#condition {
    margin-left: 20px;
    width: 50px;
}

#condition {
    text-align: left;
    width: 450px;
}

.images-wrapper {
    display: flex;    
 }

 #submit {
    cursor: pointer;  
    border-radius: 20px;  
}

/* Modal */
.modal-body {
    font-size: 2em;
    text-align: center;
    color: #23D052;
}

.modal-header {
    text-align: center;
}

.modal-title {   
    font-weight: bold;
    color: #23D052;
}
/* Modal */