<!-- Navbar -->
<app-header></app-header>
<!-- Navbar -->


<!-- Main Content -->

<form id="printThis" (ngSubmit)="onSubmit(template)" #f="ngForm" class="form-editPatient">
    <!-- <div class="col-lg-12 row" id="table-content">
        <div class="form col-lg-6 text-center"> 
                <h5>Search and Edit Patient</h5><hr>       
                <input autofocus id="search" type="text" name="search" ngModel placeholder="Search..">                
                <button class="btn btn-outline-info" type="button" id="searchButton" (click)="search(template)"><i class="fa fa-search" aria-hidden="true"></i></button>
           
            <table [hidden]="isTableHidden" class="table">
                <tr>
                    <th>Select</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>

                <tr  *ngFor="let person of pArray; let i = index">
                    <td><button type="button" id="selectPatient" (click)="getID(i)"><i class="fa fa-check" aria-hidden="true"></i></button></td>
                    <td>{{person.Fname}}</td>
                    <td>{{person.Lname}}</td>
                    <td>{{person.Street}}</td>
                    <td>{{person.PhoneNo}}</td>
                </tr>
            </table>
        </div>
    </div>        -->

    <!-- <div [hidden]="isInfoHidden" class="col-lg-12 row" id="content"></div> -->
    <div  class="col-lg-12 row" id="content">
        <div id="printArea"  class="form col-lg-6 text-center">
            

            <!-- Personal Information -->
            <h2 (click)="populate()" >Edit Patient</h2><hr> 
            <h5>Personal Information</h5>
            <div class="form-group">
                <label for="firstName" class="sr-only">First Name</label>
                <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                    <input id="firstName" readonly="true" (blur)="changeStatusFirstName1()" type="text" class="col-lg-10 form-control"
                        ngModel name="firstName" required>
                    <!-- <pre class="card card-block card-header">{{singleModel}}</pre> -->
                    <button type="button" class="btn btn-primary" id="firstNameButton" (click)="changeStatusFirstName()" [(ngModel)]="singleModel"
                        btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
                    edit
                  </button>
                </div>
            </div>

            <div class="form-group">
                <label for="lastName" class="sr-only">Last Name</label>
                <div class="input-group">
                    <span class="input-group-addon">Last Name</span>
                    <input readonly="true" (blur)="changeStatusLastName2()" type="text" id="lastName" class="form-control"
                        ngModel name="lastName" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusLastName()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                      edit
                    </button>
                </div>

            </div>

            <div class="form-group">
                <label for="dob" class="sr-only">Date of Birth</label>
                <div class="input-group">
                    <span class="input-group-addon">Date of Birth</span>
                    <input readonly="true" (blur)="changeStatusDOB2()" type="date" id="dob" class="form-control" ngModel name="dob" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusDOB()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                    edit
                  </button>
                </div>
            </div>

            <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Gender</span>
                        <div>
                            <select disabled (blur)="changeStatusGender2()" class="form-control" id="gender" name="gender" ngModel>
                                <option value="" disabled selected>Select...</option>
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                        <button type="button" class="btn btn-primary" id="firstNameButton" (click)="changeStatusGender()" [(ngModel)]="singleModel"
                            btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
                          edit
                      </button>
                    </div>
                </div>
                <hr>
            <!-- Personal Information      -->

            <!-- Address -->
            <br>
            <h5>Address</h5>
            <div class="form-group">
                <label for="street" class="sr-only">Street</label>
                <div class="input-group">
                    <span class="input-group-addon">Street</span>
                    <input readonly="true" (blur)="changeStatusAddress2()" type="text" id="street" class="col-lg-10 form-control"
                        ngModel name="street" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusAddress()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                        edit
                      </button>
                </div>
            </div>

            <div class="form-group">
                <label for="unit" class="sr-only">Unit</label>
                <div class="input-group">
                    <span class="input-group-addon">Unit</span>
                    <input readonly="true" (blur)="changeStatusUnit2()" type="text" id="unit" class="col-lg-10 form-control"
                        ngModel name="unit">
                    <button type="button" class="btn btn-primary" (click)="changeStatusUnit()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                            edit
                          </button>
                </div>
            </div>

            <div class="form-group">
                <label for="sreet" class="sr-only">City</label>
                <div class="input-group">
                    <span class="input-group-addon">City</span>
                    <input (blur)="changeStatusCity2()" readonly="true" type="text" id="City" class="form-control" ngModel
                        name="City" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusCity()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                                edit
                              </button>
                </div>

            </div>

            <div class="form-group">
                <label for="state" class="sr-only">State</label>
                <div class="input-group">
                    <span class="input-group-addon">State</span>
                    <div>
                        <select disabled (blur)="ChangeStatusState2()" class="form-control" id="state" name="state" ngModel>
                              <option value="">Select...</option>
                              <option value="AK">Alaska</option>
                              <option value="AL">Alabama</option>
                              <option value="AR">Arkansas</option>
                              <option value="AZ">Arizona</option>
                              <option value="CA">California</option>
                              <option value="CO">Colorado</option>
                              <option value="CT">Connecticut</option>
                              <option value="DC">District of Columbia</option>
                              <option value="DE">Delaware</option>
                              <option value="FL">Florida</option>
                              <option value="GA">Georgia</option>
                              <option value="HI">Hawaii</option>
                              <option value="IA">Iowa</option>
                              <option value="ID">Idaho</option>
                              <option value="IL">Illinois</option>
                              <option value="IN">Indiana</option>
                              <option value="KS">Kansas</option>
                              <option value="KY">Kentucky</option>
                              <option value="LA">Louisiana</option>
                              <option value="MA">Massachusetts</option>
                              <option value="MD">Maryland</option>
                              <option value="ME">Maine</option>
                              <option value="MI">Michigan</option>
                              <option value="MN">Minnesota</option>
                              <option value="MO">Missouri</option>
                              <option value="MS">Mississippi</option>
                              <option value="MT">Montana</option>
                              <option value="NC">North Carolina</option>
                              <option value="ND">North Dakota</option>
                              <option value="NE">Nebraska</option>
                              <option value="NH">New Hampshire</option>
                              <option value="NJ">New Jersey</option>
                              <option value="NM">New Mexico</option>
                              <option value="NV">Nevada</option>
                              <option value="NY">New York</option>
                              <option value="OH">Ohio</option>
                              <option value="OK">Oklahoma</option>
                              <option value="OR">Oregon</option>
                              <option value="PA">Pennsylvania</option>
                              <option value="PR">Puerto Rico</option>
                              <option value="RI">Rhode Island</option>
                              <option value="SC">South Carolina</option>
                              <option value="SD">South Dakota</option>
                              <option value="TN">Tennessee</option>
                              <option value="TX">Texas</option>
                              <option value="UT">Utah</option>
                              <option value="VA">Virginia</option>
                              <option value="VT">Vermont</option>
                              <option value="WA">Washington</option>
                              <option value="WI">Wisconsin</option>
                              <option value="WV">West Virginia</option>
                              <option value="WY">Wyoming</option>
                            </select>
                    </div>
                    <button type="button" class="btn btn-primary" id="firstNameButton" (click)="changeStatusState()" [(ngModel)]="singleModel"
                        btnCheckbox btnCheckboxTrue="1" btnCheckboxFalse="0">
                            edit
                        </button>

                    <span class="input-group-addon">Zipcode</span>
                    <input (blur)="changeStatusZipcode2()" readonly="true" type="number" min="0" id="zipcode" class="form-control"
                        ngModel name="zipcode" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusZipcode()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                      edit
                    </button>
                </div>
            </div>
            <hr>
            <!-- Address -->

            <!-- Contact Information -->
            <br>
            <h5>Contact Information</h5>
            <div class="form-group">
                <label for="phone" class="sr-only">Phone</label>
                <div class="input-group">
                    <span class="input-group-addon">Phone</span>
                    <input (blur)="changeStatusPhone2()" readonly="true" type="number" id="phone" class="col-lg-10 form-control"
                        ngModel name="phone" required>
                    <button type="button" class="btn btn-primary" (click)="changeStatusPhone()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                            edit
                          </button>
                </div>
            </div>

            <div class="form-group">
                <label for="patEmail" class="sr-only">Email</label>
                <div class="input-group">
                    <span class="input-group-addon">Email</span>
                    <input (blur)="changeStatusPatEmail2()" readonly="true" type="email" id="patEmail" class="col-lg-10 form-control" ngModel
                        name="patEmail" required email>
                    <button type="button" class="btn btn-primary" (click)="changeStatusPatEmail()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                                edit
                              </button>
                </div>
            </div>
            <hr>
            <!-- Contact Information -->

            <!-- Medical History -->
            <br>
            <h5>Medical History</h5>
            <p>Have patient had any of the following deseases or problems:</p>           
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Condition</span>
                    <div>
                        <div *ngFor="let condition of conditions; let i = index">
                            <label id="condition">
                                          <input
                                              disabled="disabled"                                              
                                              type="checkbox"
                                              name="isCondition{{i}}"   
                                              readonly                                   
                                              [ngModel] = "isCondition"> 
                                              {{ condition }}                                       
                                      </label>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <!-- Medical History -->

            <!-- Additioonal Information -->            
            <h5>Additional Information</h5>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Info</span>
                    <textarea disabled name="notes" (blur)="changeStatusNotes2()"
                        id="notes" cols="90" rows="5" ngModel></textarea>
                    <button type="button" class="btn btn-primary" (click)="changeStatusNotes()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                            edit
                          </button>
                </div>
            </div><hr>
            <!-- Additioonal Information -->

             <!-- Instructions -->
            <h5>Instructions</h5>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Instructions</span>
                    <textarea disabled name="notes" (blur)="changeStatusInstructions2()"
                        id="instructions" cols="90" rows="5" ngModel></textarea>
                    <button [hidden]="!this._datatask.IsDoctor" type="button" class="btn btn-primary" (click)="changeStatusInstructions()" [(ngModel)]="singleModel" btnCheckbox btnCheckboxTrue="1"
                        btnCheckboxFalse="0">
                            edit
                          </button>
                </div>
            </div><hr>
            <button (click)="print()" id="submit" class="btn btn-sm btn-warning btn-block" type="submit">Print Form</button><hr>
            <!-- Instructions -->

            

            <button id="submit" class="btn btn-lg btn-danger btn-block" type="submit">Save</button>

        </div>

    </div>

    <fieldset [disabled]="(killfields ? 'disabled':null)">


    </fieldset>
</form>
<!-- Main Content -->

<!-- Alert Message -->
<template #template>
        <div class="modal-header">
          <h4 class="modal-title pull-left">Saved!</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Updated Succesfully!
        </div>
</template>
<!-- Alert Message -->


<!-- Footer -->
    <!-- <app-scrollablefooter></app-scrollablefooter> -->
<!-- Alert Message -->
