
#navbar {    
    position: relative;
    width: 100%;
    height: 70px;
    background-color: #616467;
    color: #bbb;   
}

.nav-link, .nav-link:hover {
    cursor: pointer;     
}

#main-content {
    
    margin-top: 150px;
}

nav > li,a:hover {
    color: #DDDDAC;
    text-decoration: none;
}

li >  a {
    margin-left: 15px;
    font-size: 1.2em;
}

#logout {    
    margin-left: 1000px;  
}

#logout:hover {
        color: #D35252;
}

#dropdown-button {
    margin-top: 2px;
}

#dropdown-button:hover {
    color: #DDDDAC;
}

a {
    color: lightgray;
}

#dropdown-menu {
    padding: 0;
    margin-top: 0;
    width: 180px;
}

.dropdown-menu {
    color: #bbb;
    width: 75px;
    margin-left:290px;
    background-color: #616467;
    border-style: 1px solid black;    
}


.dropdown-menu > li:hover {
    color: #DDDDAC;
    background-color: transparent; 
    cursor: pointer; 
}

#dropdown-item {
    padding-left: 0;
    padding-right: 0;
}

.dropdown-item:hover {   
    background-color: transparent;
}

#brand {
    color: lightgray;
    margin-bottom: 0;
}

    .footer {
        background-color: #46494C;    
        color: black;       
        position: relative;       
        right: 0;
        bottom: 0;
        left: 0;            
        text-align: center;
        
    }

  
  
  footer a {
    color: #999;
    text-decoration:none;
    cursor: pointer;    
  }
  
  footer a:hover, footer a:focus {
    color: #E1E1E1;
    text-decoration:none;
    
  }  

  .row, .row > span {
      margin-right: 10px;
  }

  i {
      padding-right: 5px;
  }

  li> .active {
      color: #0B0B28;
      background-color: transparent;
  }

/* Main Content */
#content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
   
    padding-bottom: 50px;    
}

/* Forms */
.form {      
    margin-left: 380px;    
    padding: 10px;   
    background-color: #D5ECEC;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 30px;      
    margin-bottom: 10px;
}

.input-group > span {
    width:115px;
    border: 2px;
}

#state {
    width:180px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

#dropdown {
    position: relative;
    margin-top: 100px;
}

#radio-button {
    margin-left: 30px;
    margin-top: 7px;
}

#gender {   
    margin-top: 6px;
    margin-left: 60px;
}

#condition {
    margin-left: 20px;
    width: 50px;
}

#condition {
    text-align: left;
    width: 450px;
}

.images-wrapper {
    display: flex;    
 }

 #submit {
    cursor: pointer;
    display: inline;
    width: 300px;
 }