<!-- Login Container -->
<div class="container">    
          <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-signin">
            <h3><i class="fa fa-sign-in fa-4x" aria-hidden="true"></i></h3>
            <h2 class="form-signin-heading">Sign In</h2><hr>

            <div class="form-group">
            <label for="inputUsername" class="sr-only">Username</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
            <input 
            type="text"
            placeholder="Username"
            id="inputUsername"
            class="form-control"
            ngModel            
            name="username"
            required autofocus>
            </div>
            </div>

            <div class="form-group">
            <label for="inputPassword" class="sr-only">Password</label>
            <div  class="input-group">
                <span  id="key-icon" class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></span>
            <input 
            type="password" 
            id="inputPassword"
            placeholder="Password" 
            class="form-control" 
            ngModel
            name="password"            
            required>
            </div>     
            </div>       


            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
                
              </label>
            </div>
            <button id="submit" 
            class="btn btn-lg btn-primary btn-block" 
            type="submit"
            [disabled]="!f.valid"
            >Log in</button>
            <p class="message">Forgot your password? <a routerLink="/forgotpassword">Reset password</a></p>
          </form>    
        </div> <!-- /Login container -->
           
         