.container {
    background-color: #a7baba;
    margin-top: 20px;
    width: 70%;
    height: 570px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
}

.container1 {
    background-color: #a7baba;
    margin-top: 20px;
    width: 70%;
    height: 290px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
    margin-left: 215px;
    padding-left: 15px;   
}

#main-content {    
    margin-top: 150px;
}
 
/* Main Content */
#content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
   
    padding-bottom: 50px;    
}

/* Forms */
.form {      
    margin-left: 200px;
    width: 70%;
    padding: 10px;   
    background-color: #a7baba;
    border: 2px solid rgb(44, 95, 112);    
    border-radius: 30px;      
    margin-bottom: 10px;
}

.input-group > span {
    width:115px;
    border: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

#radio-button {
    margin-left: 30px;
    margin-top: 7px;
}

#submit {
    cursor: pointer;  
    border-radius: 20px;  
}

button {
    border-radius: 20px;
}

button > i {
    padding-left: 5px;
}

#print-button {
    float: right;
    border-radius: 20px;
    cursor: pointer;
}

.nav2 {
    font-size: 1.2em;
    color: #bbb;   
}

#date {    
    text-align: center;
    width: 350px;
}

#date-text {    
    width: 130px;
}

/* Select Button */
.fa-check-circle-o {    
    padding: 5px;
    border-radius: 100%;
    background-color: #CCCCD4;
    color: #268F4C;
    opacity: 0.7;
}

.fa-check-circle-o:hover {
    opacity:1;
    color: green;
}
/* Select Button */

/* Table */
#table-content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 1800px;
    padding-bottom: 50px;    
}

.table {
    margin-top:15px;    
}

#blood-table {
    width: 350px;
}

th {
    color: #0B0B5A;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

td {
    font-style: italic;
    color: #1D1C1C;    
    vertical-align: middle;
    font-weight: 500;
}

/* Table */


/* Modal */
.modal-body {
    font-size: 2em;
    text-align: center;
    color: #00FF44;
}

.modal-header {
    text-align: center;
}

.modal-title {   
    font-weight: bold;
    color: #03541C;
}
/* Modal */
