<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<!-- Reset password Container -->
<div class="container">    
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-signin">
      <h3><i class="fa fa-unlock-alt fa-4x" aria-hidden="true"></i></h3>
      <h2 class="form-signin-heading">Forgot Password</h2><hr>

      <div class="form-group">
      <label for="inputUsername" class="sr-only">Username</label>
      <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>

      <input 
      type="text"
      placeholder="Username"
      id="inputUsername"
      class="form-control"
      ngModel            
      name="username"
      required>

      </div>
      </div> 
      
      <div class="form-group">
        <label for="secret" class="sr-only">Secret Question</label>
        <div  class="input-group">
            <span  id="key-icon" class="input-group-addon"><i class="fa fa-question" aria-hidden="true"></i></span>
        <select 
          id="secretQuestion"
          class="form-control"
          value="Choose a question"
          ngModel
          name="secretQuestion">
          <option value="" disabled selected>Select your option</option>
            <option value="pet">Your first pet?</option>
            <option value="car">Your first car?</option>
            <option value="job">Your first job?</option>
        </select>
       
        <input 
        type="text"
        placeholder="Answer"
        id="secretAnswer"
        class="form-control"
        ngModel            
        name="secretAnswer"
        required>
        </div>     
        </div>


        <!-- (click)="staticModal.show()   -->
      <button (click)="myFunc()"
      id="submit"  
      class="btn btn-lg btn-primary btn-block" 
      type="submit"
      [disabled]="!f.valid"      
      >Reset Password</button>
      <p class="message"><a routerLink="/">Back to Log In Page</a></p>
    </form>    

    
  </div> <!-- /Reset password container -->      

<!-- Modal Message Box -->
<!-- <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
    tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
 <div class="modal-dialog modal-sm">
   <div id="modal-box"  class="modal-content">            
       <button id="text-center" type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
         <span style="color: blue;" routerLink="/">Back to Log In Page</span>
       </button>     
     <div class="modal-body text-center">
       Email with recovery instructions has been sent to you.
       Please check your mailbox.
     </div>
   </div>
 </div>
</div>  -->
<!-- Modal Message Box -->