<table id="blood-table" [hidden]="isTableHidden" class="table table-striped table-bordered">
        <tr>
            <th>Select</th>
            <th>Date</th>              
        </tr>

        <!-- <tr  *ngFor="let person of pArray; let i = index">   -->
        <tr *ngFor="let blood of this._datatask.bArray; let i = index">
            <td><a id="selectPatient" (click)="getID(i)"><i class="fa fa-check-circle-o fa-2x" aria-hidden="true"></i></a></td>
            <td>{{blood.DateTaken}}</td>             
        </tr>
    </table><hr>      