<!-- Scroll with the page Footer -->
<footer class="footer">
    <nav id="footer" class="navbar navbar-light">
        <p id="brand" class="navbar-brand">&copy;Wipro Team 2017</p>
        <div class="row">
            <span><a id="linkedin" href="https://www.linkedin.com/company/wipro" target="_blank" tooltip="LinkedIn"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
            <span><a id="twitter" href="https://twitter.com/wipro" target="_blank" tooltip="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
            <span><a id="facebook" href="https://www.facebook.com/WiproLimited/?rf=105550039478283" target="_blank" tooltip="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
        </div>
      </nav>
    </footer>
<!-- Scroll with the page Footer -->