.container {
    background-color: #D5ECEC;
    margin-top: 20px;
    width: 70%;
    height: 620px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
  } 

#main-content {
    
    margin-top: 150px;
}

/* Main Content */
#content {       
    text-align: center;
    margin-top: 30px;   
    padding-bottom: 50px;    
}


#dropdown {
    
    margin-top: 100px;
}



 #submit {
    cursor: pointer;    
 }

.nav2 {
    font-size: 1.2em;
    color: #bbb;   
}

li.nav-item {
    height: 70px;
    padding-top: 10px;
}

#date {
    width: 350px;
}

#date-text {    
    width: 170px;
    border: none;
}