<!-- Navbar -->
<nav id="navbar" class="navbar navbar-expand-md fixed-top">
    <a class="navbar-brand" routerLink="/home"><i class="fa fa-heartbeat" aria-hidden="true"></i>Wipro HMS</a>
    <a class="nav2" routerLink="/scheduler"><i class="fa fa-calendar" aria-hidden="true"style = "display:inline"></i>Scheduler</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">        
        <li class="nav-item" dropdown style = "display:inline">
          <a id="dropdown-patient" dropdownToggle class="nav-link"><i class="fa fa-user-md" aria-hidden="true"></i>
            Patient<span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              </a>  
              <ul id="dropdown-menu" *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a routerLink="/addpatient" id="dropdown-item" class="dropdown-item"><i class="fa fa-plus" aria-hidden="true"></i>Add Patient</a></li>
                  <li role="menuitem"><a routerLink="/editpatient"id="dropdown-item" class="dropdown-item"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Patient</a></li>
                  <li role="menuitem"><a routerLink="/search"  id="dropdown-item"class="dropdown-item"><i class="fa fa-search" aria-hidden="true"></i>Search Patient</a></li>
                </ul>          
        </li>        

        <li class="nav-item" dropdown style = "display:inline">
          <a id="dropdown-lab" dropdownToggle class="nav-link"><i class="fa fa-flask" aria-hidden="true"></i>
            Lab Results<span><i class="fa fa-caret-down" aria-hidden="true"></i></span>
              </a>  
              <ul id="dropdown-lab-menu" *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem"><a routerLink="/addlabresults" id="dropdown-item" class="dropdown-item active"><i class="fa fa-plus" aria-hidden="true"></i>Add Results</a></li>
                  <li role="menuitem"><a routerLink="/editlabresults"id="dropdown-item" class="dropdown-item"><i class="fa fa-pencil" aria-hidden="true"></i>Edit Results</a></li>                  
                </ul>          
        </li>    
           
        <a tooltip="Logout" placement="bottom" id="logout" class="nav-link" routerLink="/"><i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><span class="sr-only">(current)</span></a>    
      </ul>
      <!-- <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>   <!-- Navbar -->


<!-- Page Content -->
<form (ngSubmit)="onSubmit()" #f="ngForm" class="form-addLabResults">
  <div class="col-lg-12">
  <div class="container">
    <br><h5 class="text-center">Blood Test Results</h5><hr>
    <table id="table" class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Test</th>
          <th>Value</th>
          <th>Range</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Sodium</td>
          <td><input
            type="number"  min="0" step="1"            
            id="sodium"
            class="col-lg-3 form-control"
            ngModel            
            name="sodium" required>
          </td>
          <td>135 - 145</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Potassium</td>
          <td><input
            type="number"  min="0" step="0.1"            
            id="potassium"
            class="col-lg-3 form-control"
            ngModel            
            name="potassium" required>
          </td>
          <td>3.5 - 5.2</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Calcium</td>
          <td><input
            type="number"  min="0" step="0.1"            
            id="calcium"
            class="col-lg-3 form-control"
            ngModel            
            name="calcium" required>
          </td>
          <td>8.5 - 10.6</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Globulinn</td>
          <td><input
            type="number"  min="0" step="0.1"            
            id="globulin"
            class="col-lg-3 form-control"
            ngModel            
            name="globulin" required>
          </td>
          <td>3.5 - 5.5</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Hemoglobin</td>
          <td><input
            type="number"  min="0" step="0.1"            
            id="hemoglobin"
            class="col-lg-3 form-control"
            ngModel            
            name="hemoglobin" required>
          </td>
          <td>13.8 - 17.2</td>
        </tr>
      </tbody>
    </table>

    <button id="submit" (click)="onSubmit"
    class="btn btn-lg btn-success btn-block" 
    [disabled]="!f.valid"
    type="submit"         
    >Submit</button>    
  </div>
  </div>
</form>

<!-- Page Content -->

<!-- Footer -->
<footer class="footer">
    <nav id="footer" class="navbar navbar-light">
        <p id="brand" class="navbar-brand">&copy;Wipro Team 2017</p>
        <div class="row">
        <span><a href="https://www.linkedin.com/company/wipro" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
        <span><a href="https://twitter.com/wipro" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
        <span><a href="https://www.facebook.com/WiproLimited/?rf=105550039478283" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
        </div>
      </nav>
    </footer>
<!-- Footer -->