
/* Search Bar */
#search {
    text-align: center;
    width: 250px;
    height: 38px;
    border-radius: 23px;
    border: 1px solid #ccc;
}

#searchButton {
    border-radius: 50%;
}

input:focus {    
    outline: 0;
}
/* Search Bar */

#table-content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 1800px;
    padding-bottom: 50px;    
}

.container {
    background-color: #D5ECEC;
    margin-top: 20px;
    width: 70%;
    height: 620px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
  } 

#main-content {
    
    margin-top: 150px;
}

/* Main Content */
#content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
   
    padding-bottom: 50px;    
}

.form {      
    margin-left: 380px;    
    padding: 10px;   
    background-color: #D5ECEC;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 30px;      
    margin-bottom: 10px;
}



 #submit {
    cursor: pointer;    
 }

.nav2 {
    font-size: 1.2em;
    color: #bbb;   
}

li.nav-item {
    height: 70px;
    padding-top: 10px;
}

#date {
    width: 350px;
}

#date-text {    
    width: 170px;
    border: none;
}