.container {
    background-color: #D5ECEC;
    margin-top: 20px;
    width: 70%;
    height: 760px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
} 

/* Main Content */
#content {   
    position: relative;
    text-align: center;
    margin-top: 30px;   
    padding-bottom: 50px;    
}

.form {      
    margin-left: 380px;    
    padding: 10px;   
    background-color: #D5ECEC;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 30px;      
    margin-bottom: 10px;
}

#print-button {
    float: right;
    border-radius: 20px;
    cursor: pointer;
}

#records-button {
    text-align: center;
    border-radius: 20px;
}

#submit {
    cursor: pointer;  
    border-radius: 20px;  
}

#date {
    width: 380px;
}

#date-text {    
    width: 170px;
    border: none;
}