.container {
    background-color: #a7baba;
    margin-top: 20px;
    width: 70%;
    height: 620px;
    border: 2px solid rgb(44, 95, 112);
    border-radius: 50px;
    margin-bottom: 10px;
  } 
  #nameid {
      margin-left: 40px;
  }
.input-group > span {
    width:auto;
    border: 2px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    /* margin: 0;  */
}
