<app-header></app-header>
<div class="container">
  <br>
  <div id="nameid"class="col-lg-12">
    <!-- name -->
    <label for="Name" class="sr-only">Name</label>
    <div class="input-group">
      <span class="input-group-addon">Name</span>
      <input type="text" id="Name" class="col-lg-10 form-control" ngModel name="Name" required readonly="true">
    </div>
    <!-- name -->
  </div>
  <!-- Bar chart -->
  <div class="col-lg-12">
      <div style="display: block">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend"
          [chartType]="barChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="randomize()">Update</button>
  </div>
</div>

  <app-scrollablefooter></app-scrollablefooter>