<!-- Navbar -->
<app-header></app-header>
  
  <!-- Page Content -->
  <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-scheduler">
    <div class="col-lg-12">
    <div class="container">
      <br><h5 class="text-center">Scheduler</h5><hr>
      <!-- Day of the week dropdown -->
      <div id="dayoftheweek"class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Day <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" id="listedDays"role="menu">
            <li value="monday" role="menuitem"><a class="dropdown-item" routerLink="#">Monday</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Tuesday</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Wednesday</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Thursday</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Friday</a></li>
          </ul>
      </div>
      <!-- Day of the week dropdown -->
      <!-- Time of day dropdown -->
      <div id="timeofday"class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Time <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" id="listedDays"role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="#">8:00A.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">9:00A.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">10:00A.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">11:00A.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">12:00P.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">1:00P.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">2:00P.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">3:00P.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">4:00P.M.</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">5:00P.M.</a></li>
          </ul>
      </div>
      <!-- Time of day dropdown -->
      <!-- Doctor dropdown -->
      <div id="doctor"class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Doctor <span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" id="listedDoctors"role="menu">
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Beesly, Pam</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Halpert, Jim</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Martin, Angela</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Scott, Michael</a></li>
            <li role="menuitem"><a class="dropdown-item" routerLink="#">Schrute, Dwight</a></li>
          </ul>
      </div>
      <!-- Doctor dropdown -->
      <table id="table" class="table table-striped">
        <tbody>
            <table class="table">
                <tr>
                    <th>Day</th>
                    <th>Time</th>
                    <th>Doctor</th>
                    <th>Confirm</th>
                </tr>
                <!-- <tr *ngFor="let appointment of appointments; let i = index">
                    <td>{{day}}</td>
                    <td>{{time}}</td>
                    <td>{{doctor}}</td>
                    <td><button type="button" id="confirmAppointment" (click)=""><i class="fa fa-check" aria-hidden="true"></i></button>{{i + 1}}</td>
                </tr> -->
            </table>`
        </tbody>
      </table> 
      <button id="submit" 
      class="btn btn-lg btn-success btn-block" 
      placeholder="Allergic to beets, bears, and battlestar galactica."      
      type="submit"         
      >Submit</button>    
    </div>
    </div>
  </form>
  
  <!-- Page Content -->
  
  <app-stickyfooter></app-stickyfooter>