#main-content {    
    margin-top: 150px;
}

#search {    
    margin-left: 100px;
    margin-top: 10px;
}
#content {   
    position: relative;
    margin-top: 30px;
    padding-bottom: 50px;    
}

    .footer {
        background-color: #46494C;    
        color: black;       
        position: relative;       
        right: 0;
        bottom: 0;
        left: 0;            
        text-align: center;
        
    }

  
  
  footer a {
    color: #999;
    text-decoration:none;
    cursor: pointer;    
  }
  
  footer a:hover, footer a:focus {
    color: #E1E1E1;
    text-decoration:none;
    
  }  
  
li> .active {
      color: #0B0B28;
      background-color: transparent;
}

/* Main Content */
#content {   
    position: relative;
    margin-top: 30px;
    padding-bottom: 50px;    
}

#formatting {      
    margin-left: 380px;    
    padding: 10px;   
    background-color: #a7baba;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 30px;      
    margin-bottom: 10px;
}

.input-group {
    width: 350px;
}

.input-group > span {
    width:160px;
    border: 2px;
}

#state {
    width:180px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    
    -webkit-appearance: none;
    margin: 0; 
}

#dropdown {
    position: relative;
    margin-top: 100px;
}

 #submit {
    cursor: pointer;
    display: inline;
    margin:center;
 }
 
#listedDays {
    margin:auto;
    padding:auto;
}

#timeofday {
    margin:auto;
    padding:auto;
}
#doctor {
    margin:auto;
    padding:auto;
    width: auto;
}
#listedDoctors {
    width: auto;
    margin:auto;
    padding:auto;
}