<!-- Navbar -->
<app-header></app-header>
  <!-- Page Content -->
  <div class="container"id="content">
    <br><h5 class="text-center">Appointment</h5><hr>
    <div class="form-group">
        <label for="date" class="sr-only">Appointment Date</label>
        <div class="input-group">
            <span class="input-group-addon">Appointment Date</span>
        <input
        type="date"               
        id="apptdate"
        class="col-lg-12 form-control"
        ngModel            
        name="apptdate"
        required>
        </div>   
        <button class="btn btn-success" (click)="selectDate()">Submit</button>             
    </div>
    <table [hidden]="isTableHidden" id="table" class="table table-striped">
      <tr>
        <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Doctor</th>
          <th>Select</th>
        </thead>
      </tr>
        <tr  *ngFor="let appointment of this._datatask.aArray; let i = index">
            <span data-dummy="{{this._datatask.getDoctor(appointment.Appt_DrID)}}"></span>
            <td>{{appointment.apptdate | date:'fullDate'}}</td>
            <td>{{appointment.ApptTime}}</td>
            <td>{{this._datatask.dArray[0].Lname}}, {{this._datatask.dArray[0].Fname}}</td>
            <td><button type="button" id="selectbtn" (click)="getindex(i)"><i class="fa fa-check" aria-hidden="true"></i></button></td>
        </tr>
    </table>
  </div> 
  <!-- Page Content -->

  <!-- Footer -->
  <br><br><br><br><br><br>
  <app-stickyfooter></app-stickyfooter>