/* You can add global styles to this file, and also import other style files */
body {    
    background-color: #D4D4D6;
}
#logout {        
    margin-left: 600px;
    margin-top: 12px;
}

#logout:hover {
        color: #D35252;
}