/* You can add global styles to this file, and also import other style files */
body {    
    background-color: #D4D4D6;
}
#logout {        
    margin-left: 600px;
    margin-top: 12px;
}

#logout:hover {
        color: #D35252;
}

#submit {
    cursor: pointer;  
    border-radius: 20px;  
}

:host >>> .tooltip-inner {
    background-color: #353535;
     color: #8C8989;
    }
    :host >>> .tooltip .tooltip-arrow {
  border-bottom-color: #353535;
    }

/* Headers for Forms */
    h2 {
        color: #2222B1;
    }

    h5 {
        margin-bottom: 20px;
    }
 /* Headers for Forms */