/* Search Bar */
#search {
    text-align: center;
    width: 350px;
    height: 38px;
    border-radius: 23px;
    border: 1px solid #ccc;
}

#searchButton {
    border-radius: 50%;
}

input:focus {    
    outline: 0;
}

/* Select Button */
.fa-check-circle-o {    
    padding: 5px;
    border-radius: 100%;
    background-color: #CCCCD4;
    color: #268F4C;
    opacity: 0.7;
}

.fa-check-circle-o:hover {
    opacity:1;
    color: green;
}
/* Select Button */
/* Search Bar */

/* Table */
#table-content {   
    position: relative;
    text-align: center;
    margin-top: 30px;
    width: 1800px;
    padding-bottom: 50px;    
}

.table {
    margin-top:15px;
}

th {
    color: #0B0B5A;
    font-size: 1.15em;
    font-weight: bold;
    text-align: center;
}

td {
    font-style: italic;
    color: #1D1C1C;    
    vertical-align: middle;
    font-weight: 500;
}

/* Table */

/* Content */
.form {      
    margin-left: 380px;    
    padding: 10px; 
    padding-left: 20px; 
    background-color: #D5ECEC;
    border: 2px solid rgb(44, 95, 112);     
    border-radius: 35px;      
    margin-bottom: 10px;
}

h5 {
    text-align: center;
}

.input-group-addon {
    border-right: 1px solid black;   
}

input {
    font-weight: bold;
    border: none;
    margin-right: 5px;
}

.input-group {
    width: 100%;
}

#newPatient-button {
    border-radius: 20px;
}

#buttons-container {
    margin-top: 30px;    
}

button {
    margin-right: 20px;
}

#buttons-container > i {
    margin-left: 5px;
}

#newPatient-button > i {
    margin-left: 5px;
}

#buttons-container > button {
    border-radius: 25px;
}

/* Content */

/* Modal */
.modal-body {
    font-size: 2em;
    text-align: center;
    color: #C61F08;
}

.modal-header {
    text-align: center;
}

.modal-title {   
    font-weight: bold;
    color: #E64A0B;
}
/* Modal */

