<!-- Navbar -->
<app-doctorheader></app-doctorheader>

<!-- Main Content -->
<form (ngSubmit)="onSubmit()" #f="ngForm" class="form-search">    
    <div class="col-lg-12 row" id="content">  
        <div class="form col-lg-6 text-center">

            <!-- Personal Information -->                      
            <h5>Search Information</h5>
            <div class="form-group">
                <label for="firstName" class="sr-only">First Name</label>
                <div class="input-group">
                    <span class="input-group-addon">First Name</span>
                <input
                type="text"               
                id="firstName"
                class="col-lg-10 form-control"
                ngModel            
                name="firstName"
                required>
                </div>            
            </div>
            
              <div class="form-group">
                  <label for="lastName" class="sr-only">Last Name</label>
                  <div class="input-group">
                      <span class="input-group-addon">Last Name</span>
                  <input
                  type="text"               
                  id="lastName"
                  class="form-control"
                  ngModel            
                  name="lastName"
                  required>
                  </div>
                  
              </div>   

              <div class="form-group">
                <label for="dob" class="sr-only">Date of Birth</label>
                <div class="input-group">
                    <span class="input-group-addon">Date of Birth</span>
                <input
                type="date"               
                id="dob"
                class="form-control"
                ngModel            
                name="dob"
                required>
                </div>                
            </div>
            
            
            <!-- <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon">Gender</span>
                    <div *ngFor="let gender of genders">
                        <label id="gender">
                            <input
                                type="radio"
                                name="gender"
                                ngModel
                                [value]="gender"
                                required>
                                {{ gender }}
                        </label>
                    </div>
                </div>                   
            </div><hr>  -->
            <!-- Personal Information      -->

           

        <!-- Contact Information
        <br><h5>Contact Information</h5> -->
        <div class="form-group">
                <label for="phone" class="sr-only">Phone</label>
                        <div class="input-group">
                            <span class="input-group-addon">Phone</span>
                        <input
                        type="number"               
                        id="phone"
                        class="col-lg-10 form-control"
                        ngModel            
                        name="phone"
                        required>
                        </div>
            </div>
<!-- 
            <div class="form-group">
                    <label for="patEmail" class="sr-only">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon">Email</span>
                            <input
                            type="email"               
                            id="patEmail"
                            class="col-lg-10 form-control"
                            ngModel            
                            name="patEmail"
                            required
                            email>
                            </div>
            </div><hr> Contact Information -->

            <!-- Medical History -->
            <!-- <br><h5>Medical History</h5>
            <p>Have patient had any of the following deseases or problems:</p> -->
            <!-- <div class="input-group">                    
                    <div class="col-lg-2" *ngFor="let condition of conditions">
                        <label id="condition">
                            <input
                                type="checkbox"
                                name="condition"
                                ngModel
                                [value]="condition"                                >
                                {{ condition }}
                        </label>
                    </div>
                </div>      -->
                <!-- <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">Condition</span>                          
                            <div>
                                <div *ngFor="let condition of conditions; let i = index">
                                    <label id="condition">
                                        <input
                                            type="checkbox"
                                            name="isCondition{{i}}"   
                                                                                
                                            [ngModel] = "isCondition"> 
                                            {{ condition }}                                       
                                    </label>
                                </div>
                            </div>
                        </div>                   
                    </div><hr>Medical History -->
                
                <!-- Additioonal Information -->
                <!-- <br><h5>Additional Information</h5>
                <div class="form-group">
                        <div class="input-group">
                <span class="input-group-addon">Notes</span>            
                        <textarea name="notes" id="notes" cols="90" rows="10" ngModel></textarea>
                    </div>
                </div>  Additioonal Information                -->

                <button id="submit" 
                class="btn btn-lg btn-success btn-block" 
                type="submit"         
                >Search</button>    

                
        </div>      
              
    </div>
</form>
<!-- Main Content -->

  <!-- Footer -->

  <app-stickyfooter></app-stickyfooter>
  
  
    <!-- Footer -->